<h1> List of countries </h1>
<% if @countries.any? %>
<p>
<%  @countries.each do |country| %>
<a href="/countries/<%= country.id %>">
<h1><%= country.name %> </h1>
</a>
<% end %>
</p>
<% else %>
<h1> No pages added! </h1>
<% end %>